
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
}
/*Login Seite Design*/
#loginÜberschrift{
    height: 5px;
    margin-top: 100px;
    z-index: -1;
    text-align: center;
}

.inputLogBtn{
    justify-content: center;
    color:black;
    background-color: white;
}
.logInput{
    margin-top:25px;
    color:white;
    background-color: black;
    border-bottom-color: white;

}
.logInput::placeholder{
    color: white;
}
#loginDiv {
    display: inline-block;
    border: solid;
    position: relative;
    width: 300px;
    height: 300px;
    margin-top: 180px;
    margin-left: 800px;
    z-index: 2;
    /*background: linear-gradient(90deg, white -55%, black 50%);*/
    background-color: black;
}
#loginDiv button{
    padding:0;
    width: 220px;
    /*padding-left: 50px;*/
    /*padding-right: 125px;*/
    margin-bottom: 50px;
}

.imgCodeLogo {
    display:block;
    position: fixed;
    height: 800px;
    float: left;
    width: 1500px;
    z-index: -1;
}
/*Login Seite Design Ende*/

/*Alle Tabellen Button Design*/
.groupDiv {
    padding: 10px;
    width: 15%;
    margin-left: 900px;
    z-index: 2;
    /*margin-right: auto;*/
}

.groupBtn {
    display: flex;
    width: 80px;
    height: 30px;
    margin-bottom: 20px;
    margin-top:30px;
    color:white;
    background-color: black;
}
.groupBtn:hover{
    background-color: white;
    color:black;
}
.container{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    z-index: 10;
}
#groupPic{
    float: left;
    width:500px;
    height: 500px;
    margin-left: 150px;
}


/*Alle Tabellen Button Design ENDE!*/

/*Tabellen Design*/
thead tr th {
    margin-top: 100px;
    padding: 20px;
    color: darkgoldenrod;
}
.trainLogo{
    width:40px;
    height: 40px;
    margin-left: 10px;
    margin-top: 20px;

}
.trainLogo:hover{
    animation: shake 0.5s;
    /*animation-iteration-count: 2s ;*/
}
#speicherLogo{
    position: absolute;
    margin-top: 40px;
    /*float: left;*/
    z-index: 20;

}
tbody tr button {
    margin-top: 20px;
}

tbody td button {
    margin-bottom: 20px;
}

.trainInput {
    margin-top: 30px;
}

input {
    border-left: none;
    border-right: none;
    border-top: none;
    margin: 10px;
    padding: 10px;
    text-transform: capitalize;
}

select {
    border-left: none;
    border-right: none;
    border-top: none;
    padding: 12px;
    border-bottom-color: black;
    border-bottom-style: solid;
}

table {
    /*Margin bringt hier die Tabellen ins Zentrum der Seite*/
    margin-left: auto;
    margin-right: auto;
    border-collapse: separate;
}

tbody tr td {
    padding-top: 25px;
    padding-bottom: 10px;
}

.tdGroup {
    border-bottom: 1px solid black;
}

.thGroup {
    border-bottom: 4px solid black;
    margin-bottom: 20px;
}

/*Tabellen Design Ende*/


/*NavBar Styling*/

.logo img {
    width: 72px;
    height: 80px;
    float: left;
    position: relative;
    padding-bottom: 45px;
    margin-left: 50px;
    margin-top: 8px;
}

.topnav {
    background: linear-gradient(90deg, white -55%, black 50%);
    font-size: 20px;
    overflow: hidden;
    height: 50px;
    width: 100%;
    text-align: right;

}

.navLink > a {
    color: aliceblue;
    text-decoration: none;
}

.navLink {
    display: flex;
    justify-content: space-around;
    margin-top: 8px;

}

.topnav a:hover {
    color: darkgoldenrod;
    padding-top: 10px;
}

.topnav a:active {
    background-color: white;
    color: silver;
}

/*Navbar Design Ende*/


/*Modal Style*/
.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: table;
    transition: opacity 0.3s ease;
}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.modal-container {
    width: 300px;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    transition: all 0.3s ease;
}

.modal-header h3 {
    margin-top: 0;
    color: #42b983;
}

.modal-body {
    margin: 20px 0;
}

.modal-default-button {
    float: right;
}

.modal-enter-from {
    opacity: 0;
}

.modal-leave-to {
    opacity: 0;
}

.modal-container {
    background-color: #e1dede;
}

.modal-enter-from .modal-container,
.modal-leave-to .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/*Keyframes kommen hier!*/

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}


