<template>
  <div>
    <NavBar></NavBar>
    <hr>
    <h1>Hier stehen alle Informationen zu den Gruppen.</h1>
    <img src="../assets/groupTable.svg" alt="Bild kann nicht geladen werden" id="groupPic">
    <GruppenInfo
        @sendDataToAllTabellen="setGroupData">
    </GruppenInfo>
    <GrupenModal
        :group="groupData"
        :show="showModal"
        @close="showModal= false"
    ></GrupenModal>
  </div>
</template>
<script>
import NavBar from "@/components/NavBar";
import GruppenInfo from "@/components/AlleTabellen/GruppenInfo";
import GrupenModal from "@/components/AlleTabellen/GruppenModal";

export default {
  name: "AlleTabellen",
  components: {
    GrupenModal,
    GruppenInfo,
    NavBar,
  },
  data: () => ({
    groupData: {},
    showModal: false,
  }),
  methods: {
    setGroupData(group) {
      this.groupData = group
      this.showModal = true;
    }
  }
}
</script>