<template>
  <div class="fullDiv">
    <h1 id="loginÜberschrift">CODERS.BAY Verwaltungsplatform</h1>
    <div>
      <section>
        <img alt="Coderslogo" src="../assets/coderslogo.png" class="imgCodeLogo">
      </section>
      <br>
    </div>
    <section id="loginDiv">
      <input v-model="email" placeholder="E-Mail" type="email" class="logInput">
      <input v-model="password" placeholder="Passwort" type="password" class="logInput">
      <br>
      <br>
      <br>
      <button type="button" class="inputLogBtn" @click="login()" >Login</button>
      </section>
  </div>
</template>

<script>
import router from "@/router";

export default {
  name: "LoginSeite",
  data() {
    return {
      email: "",
      password: "",
    };
  },
  methods: {
    login() {
      if (this.email === "" && this.password === "") {
        router.push('/AlleTabellen')
      } else {
        alert("Bitte überprüfen Sie Ihre Login Daten.")
      }
    }
  }
}
</script>