<template>
  <div>
    <nav-bar></nav-bar>
    <hr>
    <div>
      <table>
        <thead>
        <tr>
          <th class="thGroup">Name</th>
          <th class="thGroup">Nummer</th>
          <th class="thGroup">Start Datum</th>
          <th class="thGroup">Kategorie</th>
          <th class="thGroup">Raum Nummer</th>
          <th class="thGroup">Trainer</th>
          <th class="thGroup">Trainer Zuweisung</th>
        </tr>
        </thead>
        <tbody class="tableBody">
        <tr v-for="group in groups" :key="group.id">
          <td class="tdGroup"> {{ group.name }}</td>
          <td class="tdGroup">{{ group.nummer }}</td>
          <td class="tdGroup">{{ group.start }}</td>
          <td class="tdGroup">{{
              group.kategorie.charAt(0).toUpperCase() + group.kategorie.slice(1).toLowerCase()
            }}
          </td>
          <td class="tdGroup">{{ group.raum.nummer }}</td>
          <td class="tdGroup" style="text-transform: capitalize">{{ group.trainer?.name }}</td>
          <td class="tdGroup">
            <select v-model="trainerId[group.id]" clearable>
              <option disabled hidden selected value="">Trainer</option>
              <option v-for="trainer in trainers" :key="trainer.id" :value="trainer.id">
                {{ trainer.name.charAt(0).toUpperCase() + trainer.name.slice(1) }}
              </option>
            </select>
            <img alt="Zur Gruppe Hinzufügen" class="trainLogo" src="../assets/group.png"
                 @click="addTrainer(group.id,trainerId[group.id])">
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>
<script>
import NavBar from "@/components/NavBar";

export default {
  components: {NavBar},
  data: () => ({
    trainerId: ['Trainer'],
  }),
  created() {
    this.$store.dispatch('loadAllGroups');
    this.$store.dispatch('loadAllTrainers');
    this.$store.dispatch("loadAllRooms")
  },
  computed: {
    groups() {
      return this.$store.state.groups
    },
    trainers() {
      return this.$store.state.trainers
    },
  },
  methods: {
    async addTrainer(groupId, trainerId) {
      await this.$store.dispatch("addTrainerToGroup", {
        groupId: groupId,
        trainerId: trainerId,
      })
      this.trainerId = []
      this.$store.dispatch('loadAllGroups');
      this.$router.go()
    },
  }
}
</script>