<template>
  <div>
    <nav-bar></nav-bar>
    <hr>
    <div>
      <table>
        <thead>
        <tr>
          <th class="thGroup">Nummer</th>
          <th class="thGroup">Persönlichkeit</th>
          <th class="thGroup">Beschreibung</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="room in rooms" :key="room.id">
          <td class="tdGroup">{{room.nummer}}</td>
          <td class="tdGroup">{{room.persoenlichkeit}}</td>
          <td class="tdGroup">{{room.beschreibung}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import NavBar from "@/components/NavBar";
export default {
  name: "TabelleRaeume",
  components: {NavBar},
  data:()=>({
  }),
  computed:{
    rooms(){
      return this.$store.state.rooms
    },
    groups(){
      return this.$store.state.groups
    }
  },
  created(){
    this.$store.dispatch("loadAllRooms");
    this.$store.dispatch('loadAllGroups');
  }
}
</script>