<template>
  <div>
    <nav-bar></nav-bar>
    <hr>
    <div >
      <table>
        <thead>
        <tr>
          <th class="thGroup">Vorname</th>
          <th class="thGroup">Nachname</th>
          <th class="thGroup">Gruppe</th>
          <img alt="Speichern" id="speicherLogo" class="trainLogo" src="../assets/plus.png" @click="addTeilnehmer()" >
        </tr>
        </thead>
        <tbody>
        <td><input v-model="vorname"  placeholder="TeilnehmerIn Vorname" type="text"></td>
        <td><input v-model="nachname"  placeholder="TeilnehmerIn Nachname" type="text"></td>
        <td>
        </td>
        <tr v-for="(newTeilnehmers, i) in teilnehmers" :key="newTeilnehmers.id">
          <td ><input v-model="newTeilnehmers.vorname"  type="text"></td>
          <td ><input v-model="newTeilnehmers.nachname"  type="text"></td>
          <td>
            <select v-model="groupIdToSend[i]">
              <option disabled hidden selected value="">Gruppe</option>
              <option v-for="group in groups" :key="group.id" :value="group.id">{{ group.name }} {{ group.nummer }}</option>
            </select>
            <img alt="Zur Gruppe Hinzufügen"  class="trainLogo" src="../assets/group.png" @click="addTeilnehmerToGroup(groupIdToSend[i] ,(newTeilnehmers).id)">
          </td>
          <td>
            <img alt="Update" class="trainLogo" src="../assets/update.png" @click="updateTeilnehmer(newTeilnehmers)">
          </td>
          <td>
            <img alt="Delete" class="trainLogo" src="../assets/delete.png" @click="deleteTeilnehmerById(newTeilnehmers.id)">
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>
<script>
import NavBar from "@/components/NavBar";

export default {
  components: {NavBar},
  data: () => ({
    vorname: "",
    nachname: "",
    groupIdToSend: [],
    teilnehmerToUpdate: [],
  }),
  methods: {
    addTeilnehmer() {
      this.$store.dispatch("addTeilnehmer",
          {
            vorname: this.vorname,
            nachname: this.nachname,
          })
          , this.$router.go()
      //Ladet die Seite neu nachdem Gespeichert wird /this.$router.go()/
    },
    async deleteTeilnehmerById(teilnehmerId) {
      let x = confirm("Bist du sicher?")
      if (x) {
        await this.$store.dispatch("deleteTeilnehmerById", teilnehmerId)
      } else {
        false;
      }
      this.$router.go()
    },
    updateTeilnehmer(nt) {
      console.log(nt)
      this.$store.dispatch("updateTeilnehmer",
          {
            id: nt.id,
            vorname: nt.vorname,
            nachname: nt.nachname
          }) , this.$router.go()
    },
    addTeilnehmerToGroup(groupId, teilnehmerId) {
      this.$store.dispatch("addTeilnehmerToGroup",
          {
            groupId: groupId,
            teilnehmerId: teilnehmerId
          })
      this.$router.go()
    }
  },
  computed: {
    teilnehmers() {
      return this.$store.state.teilnehmers
    },
    groups() {
      return this.$store.state.groups
    },
  },
  created() {
    this.$store.dispatch('loadAllTeilnehmer'),
        this.$store.dispatch('loadAllGroups')
  },
}
</script>