<template>
  <div>
    <nav-bar></nav-bar>
    <hr>
    <div>
    </div>
    <div>
      <table>
        <thead>
        <tr>
          <th class="thGroup">Name</th>
          <th class="thGroup">E-Mail</th>
          <th class="thGroup">Wohnort</th>
          <th class="thGroup">Gehalt</th>
          <th class="thGroup">Kategorie</th>
          <th class="thGroup">Anstellungsart</th>
        </tr>
        </thead>
        <tbody>
        <td><input v-model="name" class="trainInput" placeholder="Name" type="text"></td>
        <td><input v-model="email" class="trainInput" placeholder="E-Mail" type="email"></td>
        <td><input v-model="wohnort" class="trainInput" placeholder="Wohnort" type="text"></td>
        <td><input v-model="gehalt" class="trainInput" placeholder="Gehalt" type="text"></td>
        <td>
          <select v-model="kategorie" class="trainInput">
            <option disabled hidden selected value="">Kategorie</option>
            <option value="FIA">FIA</option>
            <option value="SOFTWARE">Software</option>
            <option value="NETZWERK">Netzwerk</option>
          </select>
        </td>
        <td>
          <select v-model="anstellungsart" class="trainInput">
            <option disabled hidden selected value="">Anstellungsart</option>
            <option value="VOLLZEIT">Vollzeit</option>
            <option value="TEILZEIT">Teilzeit</option>
            <option value="GERINGFÜGIG">Geringfügig</option>
          </select>
        </td>
        <img alt="Speichern" id="speicherLogo" class="trainLogo" src="../assets/plus.png" @click="submitTrain">
        <tr v-for="(updateTrainer) in trainers" :key="updateTrainer.id">
          <td><input v-model="updateTrainer.name" type="text"></td>
          <td><input v-model="updateTrainer.email" type="text"></td>
          <td><input v-model="updateTrainer.wohnort" type="text"></td>
          <td><input v-model="updateTrainer.gehalt" type="text"></td>
          <td>
            <select v-model="updateTrainer.kategorie">
              <option disabled hidden selected value="">Kategorie</option>
              <option value="FIA">FIA</option>
              <option value="SOFTWARE">Software</option>
              <option value="NETZWERK">Netzwerk</option>
            </select>
          </td>
          <td>
            <select v-model="updateTrainer.anstellungsart">
              <option disabled hidden selected value="">Anstellungsart</option>
              <option value="VOLLZEIT">Vollzeit</option>
              <option value="TEILZEIT">Teilzeit</option>
              <option value="GERINGFÜGIG">Geringfügig</option>
            </select>
          </td>
          <img alt="Update" class="trainLogo" src="../assets/update.png" @click="updateTrainers(updateTrainer)">
          <img alt="Delete" class="trainLogo" src="../assets/delete.png" @click="deleteTrainerById(updateTrainer.id)">
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>
<script>
import NavBar from "@/components/NavBar";
export default {
  name: "TrainerInBearbeiten",
  components: {NavBar},
  computed: {
    trainerArrCopy() {
      let updateTrainer = [];
      updateTrainer = this.trainers.map((trainers) => ({
        id: trainers.id,
        name: trainers.name,
        email: trainers.email,
        wohnort: trainers.wohnort,
        kategorie: trainers.kategorie,
        anstellungsart: trainers.anstellungsart,
        gehalt: trainers.gehalt
      }))
      return updateTrainer;
    },
    trainers() {
      return this.$store.state.trainers
    },
    saveTrainer() {
      return this.$store.state.trainers
    },
    updateTrainer() {
      return this.$store.state.trainers
    },
    groups() {
      return this.$store.state.groups
    }
  },
  data: () => ({
    name: "",
    email: "",
    wohnort: "",
    kategorie: "",
    anstellungsart: "",
    gehalt: "",
    trainerToUpdate: [],
  }),
  created() {
    this.$store.dispatch("loadAllTrainers");
    this.$store.dispatch('loadAllGroups');
  },
  methods: {
    submitTrain() {
      this.$store.dispatch("submitTrainer", {
        name: this.name,
        email: this.email,
        wohnort: this.wohnort,
        kategorie: this.kategorie,
        anstellungsart: this.anstellungsart,
        gehalt: this.gehalt
      })
          , this.$router.go()
    },
    updateTrainers(nt) {
      let z = confirm("Wollen Sie: " + nt.name.toUpperCase() + " Aktualisieren?")
      if (z) {
        this.$store.dispatch("updateTrainer", {
          id: nt.id,
          name: nt.name,
          email: nt.email,
          wohnort: nt.wohnort,
          kategorie: nt.kategorie,
          anstellungsart: nt.anstellungsart,
          gehalt: nt.gehalt
        }), this.$router.go(nt)
      } else {
        this.$router.go(nt)
        return false;
      }
    },
    async deleteTrainerById(trainerId) {
      let x = confirm("Sind Sie sicher dass Sie diesen Trainer löschen wollen?")
      if (x) {
        await this.$store.dispatch("deleteTrainerById", trainerId)
        this.$router.go();
      } else {
        return false;
      }
    }
  }
}
</script>