<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>
<script>

import vueResponsive from 'vue-responsive'
import Vue from "vue";
Vue.directive('responsive', vueResponsive)

export default {
  name: 'App',
  components: {}
}
</script>
<style>
@import "./assets/StyleSheet/ProjectStyleSheet.css";


</style>
