<template>
  <div class="waviy">
    <span style="--i:1">C</span>
    <span style="--i:2">o</span>
    <span style="--i:3">d</span>
    <span style="--i:4">e</span>
    <span style="--i:5">r</span>
    <span style="--i:6">s</span>
    <span style="--i:7">.</span>
    <span style="--i:8">B</span>
    <span style="--i:9">A</span>
    <span style="--i:10">Y</span>
  </div>
</template>

<script>
export default {
  name: "CodersBayLetters"
}
</script>

<style scoped>
.waviy {
  margin-top: 20px;
  display:inline-block;

}
.waviy span {
  position: relative;
  display: inline-block;
  font-size: 40px;
  color: white;
  background-color: black;
  text-transform: uppercase;
  animation: flip 4s infinite;
  animation-delay: calc(.3s * var(--i))
}
@keyframes flip {
  0%,80% {
    transform: rotateY(360deg)
  }
}

</style>