<template>
  <div>
    <header v-responsive>
    <div class="topnav">
      <div class="logo">
        <img src="../assets/coderslogo1.png">
      </div>
      <div class="navLink">
        <router-link to="/AlleTabellen">Alle Gruppen</router-link>
        <router-link to="/TrainerInBearbeiten">Trainer Bearbeiten</router-link>
        <router-link to="/TeilnehmerInBearbeiten">Teilnehmer Bearbeiten</router-link>
        <router-link to="/TabelleGruppe">Gruppe</router-link>
        <router-link to="/TabelleRaeume">Raum</router-link>
        <router-link to="/">Logout</router-link>
      </div>
    </div>
    <coders-bay-letters></coders-bay-letters>
    </header>
  </div>
</template>

<script>
import CodersBayLetters from "@/components/CodersBayLetters";

export default {
  name: "NavBar",
  components: {CodersBayLetters}
}
</script>