<template>
  <div>
    <div class="groupDiv">
      <tr v-for="group in groups" :key="group.id">
        <td>
          <button class="groupBtn" @click="sendGruoupData(group)">{{ group.name }} {{ group.nummer }}</button>
        </td>
      </tr>
    </div>
  </div>
</template>
<script>
export default {
  name: "GruppenInfo",
  components: {},
  methods: {
    sendGruoupData(group) {
      this.$emit('sendDataToAllTabellen', group)
    }
  },
  computed: {
    groups() {
      return this.$store.state.groups
    }
  },
  created() {
    this.$store.dispatch('loadAllGroups');
  },
}
</script>