<template>
  <div>
    <Transition name="modal">
      <div v-if="show" class="modal-mask">
        <div class="modal-wrapper">
          <div class="modal-container">
            <div class="modal-header">
              <h2>{{ group.name }} {{ group.nummer }}</h2>
              <h6>Raum:{{ group.raum.nummer }}</h6>
            </div>
            <hr>
            <div class="modal-body">
              <h4>Trainer: {{ group.trainer?.name[0].toUpperCase() + group.trainer?.name.slice(1).toLowerCase() }}</h4>
              <hr>
              <table>
                <thead class="tableHeader">
                <tr class="colum">
                  <th>Vorname</th>
                  <th>Nachname</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(newTeilnehmers) in group.teilnehmerIn" :key="newTeilnehmers.id">
                  <td class="tableBody">
                    {{ newTeilnehmers.vorname[0].toUpperCase() + newTeilnehmers.vorname.slice(1).toLowerCase() }}
                  </td>
                  <td class="tableBody">
                    {{ newTeilnehmers.nachname[0].toUpperCase() + newTeilnehmers.nachname.slice(1).toLowerCase() }}
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="modal-footer">
              <slot name="footer">
                <button
                    class="modal-default-button"
                    @click="$emit('close')"
                >&#x2715;
                </button>
              </slot>
            </div>
          </div>
        </div>
      </div>
    </Transition>
  </div>
</template>
<script>
export default {
  name: "GrupenModal",
  data: () => ({
    showModal: false
  }),
  props: {
    show: Boolean,
    group: Object,
  }
}
</script>